<footer class="footer-wrapper" role="contentinfo">
    <div class="footer">
        <div class="pull-right text-muted"><small>Currently v1.5</small></div>
        <div>Digitality Garage  &copy; {{ "now"|date("Y") }}</div>
    </div>
</footer><!-- /.FOOTER -->