<a href="" class="leftnava">
	<li class="leftnav left {% if menuEtapaA is defined %}active {% endif %}">
		aaaaaa
		<span class="pull-right right">
			<i class="{% if menuEtapaA is defined %}fa fa-arrow-right {% endif %}"></i>
		</span>
	</li>
</a>
<a href="" class="leftnava">
	<li class="leftnav left {% if menuCampaniaA is defined %}active {% endif %}">
		bbbbbbb
		<span class="pull-right right">
			<i class="{% if menuCampaniaA is defined %}fa fa-arrow-right {% endif %}"></i>
		<span>
	</li>
</a>
<a href="" class="leftnava">
	<li class="leftnav left {% if menuSatisfaccionA is defined %}active {% endif %}">
		ccccc
		<span class="pull-right right">
			<i class="{% if menuSatisfaccionA is defined %}fa fa-arrow-right {% endif %}"></i>
		</span>
	</li>
</a>
<a href="" class="leftnava">
	<li class="leftnav left {% if menuTiempoNotificacionA is defined %}active {% endif %}">
		ddddddd
		<span class="pull-right right">
			<i class="{% if menuTiempoNotificacionA is defined %}fa fa-arrow-right {% endif %}"></i>
		</span>
	</li>
</a>
<a href="" class="leftnava">
	<li class="leftnav left {% if menuProveedorA is defined %}active {% endif %}">
		eeeeeee
		<span class="pull-right right">
			<i class="{% if menuProveedorA is defined %}fa fa-arrow-right {% endif %}"></i>
		</span>
	</li>
</a>