 <div class="col-md-12 col-xs-12">
    <div id="pnAdd" class="panel panel-default" style="display:none;">
        <div class="panel-heading"><div class="hidden pnHeadingLabelAdd">Registro de categoria</div><div class="hidden pnHeadingLabelEdit">Editar categoria</div></div>
        <div class="panel-body">
            <div class="col-md-6 col-xs-12">
                <label>Nombre</label>
                <label class="hidden requiredFields">¡Campos en rojo, son requeridos!</label>
                <input id="txtId" type="hidden" name="" class="input-sm form-control">
                <input id="txtName" type="text" name="" class="input-sm form-control validateInput">
            </div>
            <div class="clearfix"></div>
            <div class="col-md-6 pull-right text-right" style="margin-top:20px;">
                <button id="btnCancel" class="btn btn-sm btn-default">Cancelar</button>
                <button id="btnSave" class="btn btn-sm btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

